//light color variables
$primaryText: #2e3440;
$inverseText: #2e3440;
$primaryBackground: #e5e9f0;
$secondaryBackground: #e5e9f0;
$controlWidgetBackground: #c3cbd8;
$accentBackground: #e5e9f0;
$accentBorder: #88c0d0;
$contrastBorder: #d8dee9;
$standardBorder: #d8dee9;
$secondaryText: #3b4252;
$disabledText: #4c566a;
$selectedElement: #d8dee9;
$tooltipBackground: #8fbcbb;
$activated: #a3be8c;
$link: #5e81ac;