//dark color variables
$primaryText: #eceff4;
$inverseText: #d8dee9;
$primaryBackground: #2e3440;
$secondaryBackground: #2e3440;
$controlWidgetBackground: #3B4252;
$accentBackground: #2e3440;
$accentBorder: #88c0d0;
$contrastBorder: #4c566a;
$standardBorder: #4c566a;
$secondaryText: #d8dee9;
$disabledText: #677081;
$selectedElement: #434c5e;
$tooltipBackground: #8fbcbb;
$activated: #a3be8c;
$link: #5e81ac;